* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

body {
    width: 100%;
    min-height: 100vh;
    /*     background: url(../assets/fondo-acuarela.jpg);
    background-size: cover; */
}

h1 {
    width: auto;
    background-color: yellow;
    padding: 1rem;
    border-bottom: 0.2rem solid black;
    border-radius: 1%;
}

.h1-borde {
    padding-bottom: 5rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul img{
    width: 250px;
}
li{
    padding: 2rem;
    width: 20%;
    list-style: none;
}